@model Sentry[]

@{ 
    ViewBag.Title = "SentryTable";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potential Impact Data</title>
</head>
    <body>
        <button id="nxt" class="sentry" onclick="SenTableNxt(@Model[9].num)">Next Page</button>
        <button id="prev" class="sentry" onclick="SenTablePrv(@Model[0].num)">Previous Page</button>
        <table class="sentry">
            <tr class="sentry">
                <th></th>
                <th>Designation</th>
                <th>Date Range</th>
                <th>Impact Probability</th>
                <th>Impact Velocity</th>
            </tr>
            @for (var i = 0; i < 10; i++)
             {
                <tr class="sentry">
                    <td> <a class="link" asp-area="" asp-controller="ImpactData" asp-action="Details/@Model[i].num">@Model[i].num</a></td>
                    <td> <a class="link" asp-area="" asp-controller="ImpactData" asp-action="Details/@Model[i].num">@Model[i].fullname</a></td>
                    <td> <a class="link" asp-area="" asp-controller="ImpactData" asp-action="Details/@Model[i].num">@Model[i].range</a></td>
                    <td> <a class="link" asp-area="" asp-controller="ImpactData" asp-action="Details/@Model[i].num">@Model[i].ip</a></td>
                    <td> <a class="link" asp-area="" asp-controller="ImpactData" asp-action="Details/@Model[i].num">@Model[i].v_inf</a></td>
                </tr>   
             }
        </table>
    </body>
</html>
